@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #29ffc9;
  --secondary-color: #a3fec7;
  --tertiary-color: #c5fec6;
  --quaternary-color: #e5fec5;
  --black: #392a35;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 800px;
  margin: 2.2rem auto;
  padding: 2.5rem;
  background-color: var(--tertiary-color);
}