@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #29ffc9;
  --secondary-color: #a3fec7;
  --tertiary-color: #c5fec6;
  --quaternary-color: #e5fec5;
  --black: #392a35;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 800px;
  margin: 2.2rem auto;
  padding: 2.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

form input {
  font-size: 2rem;
  height: 3rem;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background-color: var(--primary-color);
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1.8rem;
}

form button:hover {
  background-color: var(--black);
  color: var(--primary-color);
}